.summary {
  text-align: center;
  max-width: 45rem;
  width: 80%;
  margin: auto;
  margin-top: -15rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary div {
  width: 30%;
  height: 0.25rem;
  background-color: #359de2;
  margin: auto;
}

/* @media screen and (max-width: 850px) {
  .summary {
    width: 30rem;
    margin-left: 10rem; 
  }
  .summary h1 {
    font-size: 25px;
  }
  .summary h2 {
    font-size: 20px;
  }
  .summary div {
    width: 7rem;
    margin-left: 10rem;
  }
} 

@media screen and (max-width: 430px) {
  .summary {
    margin-left: 6rem;
    height: 7rem;
    width: 15rem;;
  }
  .summary h1 {
    margin-top: 0;
    font-size: 1rem;
    display: block;
  }
  .summary h2 {
    margin-top: 0;
    font-size: .75rem;
  }
  .summary div {
    width: 5rem;
    height: 2px;
    margin-top: 0;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 395px) {
  .summary {
    margin-left: 5rem;
    height: 6rem;
  }
  .summary h1 {
    margin-top: 0;
    font-size: 1rem;
    display: block;
  }
  .summary h2 {
    margin-top: 0;
    font-size: .75rem;
  }
  .summary div {
    width: 5rem;
    height: 2px;
    margin-top: 0;
    margin-left: 4rem;
  }
}*/

/* @media screen and (max-width: 380px) {
  .summary {
    margin: auto;
    height: 8rem;
  }
  .summary h1 {
    margin-top: 0;
    font-size: 1rem;
    display: block;
  }
  .summary h2 {
    margin-top: 0;
    font-size: .75rem;
  }
  .summary div {
    width: 5rem;
    height: 2px;
    margin-top: 0;
    margin-left: 4rem;
  }
}  */
