.sign-up{
    margin-top: 15rem;
    max-width: 500px;
}

.alt {
    margin: 0;
    background-color: aliceblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 4px;
    cursor: pointer;
}

@media screen and (max-width: 440px) {
    .sign-up {
        margin-top: 10rem;
        max-width: 300px;
    }
}