.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #333ea3;
  border: 1px solid #333ea3;
  color: white;
  padding: 0.2rem 2rem;
  border-radius: 20px;
  font-weight: lighter;
}

.form button:hover,
.form button:active {
  background-color: #20297a;
  border-color: #20297a;
}